<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calendário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <section class="full-width" *ngIf="selectedCalendarPlanId">
    <ion-list no-padding>
      <ion-item>
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-label>Filtro: </ion-label>
        <ion-select placeholder="Selecione..." [(ngModel)]="selectedCalendarPlanId" (ionChange)="updateSelectedCalendarPlan()">
          <ion-select-option *ngFor="let item of calendarPlans" [value]="item.id">{{item.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </section>
  <section class="message-container" *ngIf="!selectedCalendarPlanId">
    <ion-item color="success-light">
      <ion-icon name="alert" slot="start"></ion-icon>
      <ion-label>
        <h2>Você ainda não criou um plano ou não tem permissão em um plano já criado.</h2>
        <p>Os planos contém períodos de datas e eventos marcados no calendário.</p>
      </ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/calendarPlan/list']">Planos</ion-button>
    </ion-item>
  </section>

  <ion-card *ngIf="false">
    <ion-card-content>
      <section padding-bottom>
        <ion-grid>
          <ion-row>
            <ion-col sizeXs="6" sizeLg="4">
              <ion-button size="small" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
              </ion-button>
              <ion-button color="success" size="small" mwlCalendarToday [(viewDate)]="viewDate">Hoje</ion-button>
              <ion-button size="small" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col text-center sizeXs="6" sizeLg="4"><h2 class="current-date">{{ viewDate | date:'dd MMMM yyyy' | uppercase }}</h2></ion-col>
            <ion-col text-right sizeXs="12" sizeLg="4">
              <!--
              <ion-button color="success" size="small" (click)="view = CalendarView.Month" [class.active]="view === CalendarView.Month">Mês</ion-button>
              <ion-button size="small" (click)="view = CalendarView.Week"  [class.active]="view === CalendarView.Week">Semana</ion-button>
              -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </section>

      <section [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
          (beforeViewRender)="beforeMonthViewRender($event)"
          [locale]="locale"
          [cellTemplate]="customCellTemplate">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
          [locale]="locale">
        </mwl-calendar-week-view>

        <div padding-top>
          <ion-text padding-right *ngFor="let item of calendarPeriodLegends"><span class="dot" [innerHTML]="item.symbol"></span> {{item.name}}</ion-text>
        </div>
      </section>
    </ion-card-content>
  </ion-card>

  <ion-row class="message-container mt-0">
    <ion-col class="ion-padding-horizontal ion-padding-top">
      <ion-card>
        <ion-card-content>
          <ion-row padding-top>
            <ion-col class="text-center">
              <h1>
                {{ HOZ_CAL[3].year }}
              </h1>
            </ion-col>
          </ion-row>
          <ion-row padding>
            <!-- <ion-col *ngIf="false" class="text-center">
              <ion-button expand="full" fill="outline" (click)="setCalendarDates(HOZ_CAL[0].date)">
                <h2>
                  <strong>{{ HOZ_CAL[0].day }}/{{ HOZ_CAL[0].month }}</strong>
                  ({{ HOZ_CAL[0].weekDayShort }})
                </h2>
              </ion-button>
            </ion-col> -->
            <ion-col size="1" class="text-right">
              <ion-button color="light" (click)="setCalendarDates(HOZ_CAL[0].date)">
                <ion-icon slot="icon-only" name="rewind"></ion-icon>
              </ion-button>
            </ion-col>

            <ion-col *ngIf="true" class="text-center ph-0">
              <ion-button expand="full" color="light" (click)="setCalendarDates(HOZ_CAL[1].date)">
                <h2 class="font-smaller">
                  {{ HOZ_CAL[1].weekDayShort }}
                  <strong class="font-bigger">{{ HOZ_CAL[1].day }}</strong>
                </h2>
              </ion-button>
            </ion-col>
            <ion-col *ngIf="true" class="text-center ph-0" size="2">
              <ion-button expand="full" color="light" (click)="setCalendarDates(HOZ_CAL[2].date)">
                <h2 class="font-smaller">
                  {{ HOZ_CAL[2].weekDayShort }}
                  <strong class="font-bigger">{{ HOZ_CAL[2].day }}</strong>
                </h2>
              </ion-button>
            </ion-col>

            <!-- DIA ATUAL -->
            <ion-col *ngIf="true" class="text-center" size="4">
              <ion-button expand="full" color="light" (click)="this.randomIndex=1000; setCalendarDates(today)">
                <h2>
                  {{ HOZ_CAL[3].weekDayFull }},
                  <strong class="font-bigger">{{ HOZ_CAL[3].day }}</strong>
                  de {{ HOZ_CAL[3].monthNameFull }}
                </h2>
              </ion-button>
            </ion-col>
            <!-- DIA ATUAL -->

            <ion-col *ngIf="true" class="text-center ph-0" size="2">
              <ion-button expand="full" color="light" (click)="setCalendarDates(HOZ_CAL[4].date)">
                <h2 class="font-smaller">
                  {{ HOZ_CAL[4].weekDayShort }}
                  <strong class="font-bigger">{{ HOZ_CAL[4].day }}</strong>
                </h2>
              </ion-button>
            </ion-col>
            <ion-col *ngIf="true" class="text-center ph-0">
              <ion-button expand="full" color="light" (click)="setCalendarDates(HOZ_CAL[5].date)">
                <h2 class="font-smaller">
                  {{ HOZ_CAL[5].weekDayShort }}
                  <strong class="font-bigger">{{ HOZ_CAL[5].day }}</strong>
                </h2>
              </ion-button>
            </ion-col>

            <ion-col size="1" class="text-left">
              <ion-button color="light" (click)="setCalendarDates(HOZ_CAL[6].date)">
                <ion-icon slot="icon-only" name="fastforward"></ion-icon>
              </ion-button>
            </ion-col>
            <!-- <ion-col *ngIf="false" class="text-center">
              <ion-button expand="full" fill="outline" (click)="setCalendarDates(HOZ_CAL[6].date)">
                <h2>
                  <strong>{{ HOZ_CAL[6].day }}/{{ HOZ_CAL[6].month }}</strong>
                  ({{ HOZ_CAL[6].weekDayShort }})
                </h2>
              </ion-button>
            </ion-col> -->
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="message-container mt-0">
    <!-- PRIMEIRA LEITURA -->
    <ion-col>
      <ion-card class="mt-0 bg-white h-100">
        <ion-card-content>
          <ion-grid padding>
            <strong>Primeira Leitura </strong>
            {{ liturgia[randomIndex % liturgia.length].primeira }}
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <!-- SALMO -->
    <ion-col>
      <ion-card class="mt-0 bg-white h-100">
        <ion-card-content>
          <ion-grid padding>
            <strong>Salmo </strong>
            {{ liturgia[randomIndex % liturgia.length].salmo }}
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <!-- SEGUNDA LEITURA -->

    <!-- EVANGELHO -->
    <ion-col>
      <ion-card class="mt-0 bg-white h-100">
        <ion-card-content>
          <ion-grid padding>
            <strong>Evangelho </strong>
            {{ liturgia[randomIndex % liturgia.length].evangelho }}
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>

  <section class="message-container mt-0">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <h2 padding><strong>Santo do dia</strong></h2>
            <h3 padding>São Pascásio, nasceu para ser escritor</h3>
            <div padding>
              São Pascásio, foi um célebre professor, que deu celebridade às escolas de Corbie
              Pascásio Radbert foi personagem considerável no seu tempo. Os historiadores da Teologia continuam a mencionar a teoria que ele imaginou para “esclarecer” o mistério da presença de Jesus no Santíssimo Sacramento. Como diplomata, viajou muito entre 822 e 834, para solucionar questões da Igreja e tentar apaziguar os conflitos que punham em campo os sucessores de Carlos Magno.
              
              Era um enjeitado exposto no pórtico de Nossa Senhora de Soissons no fim do século VIII. A abadessa Teodarda, prima direita de Carlos Magno, recolheu-o e educou-o da melhor maneira que pôde. Sempre ele se referiu à sua mãe adotiva com reconhecimento e veneração; apesar disso, deixou-a algum tempo para se lançar em aventuras.
              
              Converteu-se aos 22 anos, e foi então Adelardo, irmão de Teodarda, abade de Corbie, que o recebeu entre os seus monges. Veio a ser um célebre professor, que deu celebridade às escolas de Corbie.
              
              Em 844, os seus colegas de elegeram-no como abade mas, sete anos mais tarde, fizeram uma espécie de revolução que o obrigou a refugiar-se noutra abadia. Não se afligiu. Nascera para ser escritor, e tinha várias obras em preparação: “Que felicidade, dizia, ser lançado nos braços da filosofia e da sabedoria, e poder de novo beber no meu outono o leite das Sagradas Escrituras, que alimentou a minha juventude!”
              
              Mas afinal os monges de Corbie acabaram por o chamar; voltou a viver com eles como simples religioso, edificando-os com os exemplos e continuando a escrever. Aí morreu a 26 de abril de 865.
              
              São Pascásio, rogai por nós!
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- <ion-col>
        <ion-card>
          <ion-card-content>
            <h3 padding>
              <strong>
                Minhas Anotações:
              </strong>
            </h3>
            <div padding>
              Essa linda passagem bíblica dos discípulos de Emaús é uma verdadeira catequese pascal para cada um de nós. Os discípulos estavam descrentes, desanimados, vivendo um desalento. E mesmo sabendo, porque ouviram falar que Jesus havia ressuscitado, não tinham convicção.

              Esses dois discípulos representam cada um de nós que caminha em meio aos desalentos, às incertezas, aos medos, aos temores e receios. Somos nós que trabalhamos na igreja, que vamos à Missa, mas não fomos impactados, não criamos a convicção profunda em nós da experiência com Jesus ressuscitado.
              
              Assim como Jesus caminhou com esses dois discípulos, Ele também caminha conosco, apesar de O ignorarmos, não O reconhecermos, Ele está ao nosso lado, Ele está à nossa frente, Ele está atrás de nós.
              
              Quando chego na igreja para procurar Jesus, Ele já está lá me esperando. Quando me levanto a cada manhã para rezar e colocar-me diante da Sua presença, Ele já estava velando o meu sono. Quando penso em fazer as minhas orações, Ele já está há muito tempo me esperando. Quando caminho nas estradas da vida, dirigindo para lá e para cá, Ele caminha comigo.
              
              Façamos uma experiência com o Ressuscitado por meio da Sua Palavra, mergulhemos nas Sagradas Escrituras
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col> -->
    </ion-row>
  </section>

  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
      <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <span class="period-type" *ngFor="let item of day.periodTypes">
      <span [innerHTML]="item.symbol"></span>{{item.name}}
    </span>
  </ng-template>
</ion-content>
